&__processor {
  height: 24%;
  min-height: 225px;
  padding: 0 20px;
  border-bottom: 1px solid $secondary-blue;

  display: flex;
  flex-direction: column;
  display: none;  
}

&__processor-wrapper-heading {
  display: flex;
  align-items: flex-end;
  padding: 20px 0 0 10px;
}

&__processor-list-heading, &__processor-picture-heading  {
  flex: 1;
  font-weight: 500;
  font-size: 14px;
}

&__processor-wrapper-info {
  display: flex;
  padding: 10px 0 0 10px;
  align-items: flex-start;
}

&__processor-list {
  flex: 1;
  margin: 0 0 0 10px;

  li {
    margin-bottom: 5px;
  }
}

&__processor-item--telephone {
  color: $primary-blue;
  cursor: pointer;
}

&__processor-picture-wrapper {
  flex: 1;
}

&__processor-picture {
  width: 125px;
  height: 125px;
  background: url("../../img/button-processor--selected.png") center center no-repeat;
  background-size: contain;
  background-color: $primary-light-blue;
}