&__line-items {
  height: 45%;
  min-height: 250px;
  padding: 0 20px;
  background-color: $primary-light-gray;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media(max-width: $mobile-width) {
    min-height: 350px;
    padding: 0;
  }
}

&__line-items-heading {
  margin: 25px 0 15px 0;
  font-weight: 500;

  @media(max-width: $mobile-width) {
    padding-left: 20px;
  }
}

&__line-list {
  display: flex;
  flex-direction: column;
}

&__line-list-row {
  display: flex;
  font-size: 14px;
  list-style-type: none;
  background-color: $primary-white;

  .product, .unit-price, .quantity, .total {
    flex: 1;
    min-height: 50px;
    display: flex;
  }
  
  .product {
    padding-left: 10px;
    font-weight: 700;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    span {
      font-weight: 300;
    }
  }

  .unit-price, .quantity, .total {
    justify-content: flex-end;
    align-items: center;
  }

  .total {
    padding-right: 10px;
  }

  .mobile-info {
    display: none;
  }

  @media(max-width: $mobile-width) {
    flex-direction: column;

    .product, .unit-price, .quantity, .total {
      padding-left: 20px;
    }

    .unit-price, .quantity, .total {
      display: block;
      min-height: 10px;
      margin-top: 10px;
    }

    .total {
      margin-bottom: 5px;
    }

    .product {
      justify-content: space-around;
      margin-top: 5px;
    }

    .product span {
      margin-top: 5px;
    }

    .mobile-info {
      display: block;
    }
  }
}

&__line-list-row--headline {
  padding: 10px 0;
  background-color: $secondary-light-gray;

  .product {
    font-weight: 300;
  }

  .product, .unit-price, .quantity, .total {
    min-height: initial;
  }

  @media(max-width: $mobile-width) {
    .unit-price, .quantity, .total {
      display: none;
    }
  }
}