&__address {
  height: 25%;
  min-height: 175px;
  padding: 0 20px;
  border-bottom: 1px solid $secondary-blue;

  display: flex;
  flex-direction: column;

  @media(max-width: $mobile-width) {
    min-height: 325px;
    padding: 0;
  }
}

&__address-heading {
  padding: 25px 0 0 10px;
  height: 50px;
  border-bottom: 1px solid $primary-gray;
  font-weight: 500;

  @media(max-width: $mobile-width) {
    padding: 18px 0 0 10px;
  }
}

&__address-list {
  margin-top: 15px;
  list-style-type: none;
  margin-left: 10%;
  display: flex;

  @media(max-width: $mobile-width) {
    display: none;
  }
}

&__address-column {
  display: flex;
  flex-direction: column;

  &.column-1 {
    align-items: flex-end;
    margin-right: 10px;
    color: $primary-gray;
  }
}

&__address-item {
  font-size: 14px;
}

&__address-mobile-list {
  display: none;
  list-style-type: none;

  li {
    margin: 15px 0 2px 0;
    color: $primary-gray;
  }

  @media(max-width: $mobile-width) {
    display: block;
    margin: 0 20px;
  }
}