.order {
  height: calc(100vh - #{$header-height} - #{$footer-height});
  background: $primary-white;
  overflow: auto;

  @import './main-order-blocks/order__main-info';
  @import './main-order-blocks/order__address';
  @import './main-order-blocks/order__processor';
  @import './main-order-blocks/order__line-items';

  @media(max-width: $mobile-width) {
    height: 100%;
  }  
}