.order-list {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: $order-list-width;
  background-color: $primary-white;
  box-shadow: -5px 0px 10px $primary-gray;

  &__header {
    height: 55px;
    border-bottom: 1px solid $primary-gray;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__form {
    position: relative; // for order-list__button-search
  }

  &__button-search, &__button-refresh {
    position: absolute;
    top: 0;    
    height: 100%;
    width: 20px;
    cursor: pointer;
  }

  &__button-search {
    right: 40px;
    background: url('../../img/search.png') center center no-repeat no-repeat;
    background-size: 75%;
  }

  &__button-refresh {
    right: 15px;
    background: url('../../img/refresh.png') center center no-repeat no-repeat;
    background-size: 75%;
  }

  &__input-search {
    padding-left: 10px;
    border: 1px solid $primary-gray;

    &:hover {
      border: 1px solid $primary-blue;
    }
  }

  

  &__header-row {
    display: flex;
    justify-content: center;
    position: relative; // for order-list__button-back
  }

  &__button-back {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 25px;
    border: 0;
    background: url('../../img/left-arrow.png') center center no-repeat no-repeat;
    background-size: 75%;
    cursor: pointer;
  }

  &__input-search {
    height: 25px;
    width: 95%;
    margin-left: 2.5%;
  }

  &__main {
    height: calc(100vh - 85px); // minus order-list__header and order-list__footer
    width: 100%;
    border-right: 1px solid $primary-white;
    overflow: auto;

    display: flex;
    flex-direction: column;
  }

  &__item {
    min-height: 95px;
    padding: 0 10px;
    border-bottom: 1px solid $primary-gray;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &:hover {
      background-color: $secondary-gray;
    }
  }

  &__item--selected {
    background-color: $primary-light-blue;
  }

  &__item-row {
    display: flex;
    justify-content: space-between;
  }

  &__item-ordered-date {
    font-size: 15px;
  }

  &__item-order {
    font-size: 17px;
  }

  &__item-customer, &__item-shipped {
    font-size: 12px;
    color: $primary-light-black;
  }

  &__item-order, &__item-order-time, &__item-customer, &__item-shipped {
    font-weight: 300;
  }

  &__item-order-time--in-time {
    color: $primary-green;
  }

  &__item-order-time--urgent {
    color: $primary-orange;
  }

  &__item-order-time--too-late {
    color: $primary-red;
  }



  &__footer {
    height: 30px;
    background: $footer-color;
    border-right: 1px solid $primary-white;

    display: flex;
    justify-content: flex-end;
  }

  &__footer-button-filter {
    width: 30px;
    height: 30px;
    background: url('../../img/filter.png') center center no-repeat no-repeat;
    background-size: 50%;
    cursor: pointer;
  }

  &__footer-button-sort {
    position: relative;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "[\2261]";
      top: 5px;
      left: 5px;
      font-size: 17px;
    }
  }

  @media(max-width: $tablet-width) {
    transition: transform .5s ease-in;
    transform: translateX(-300px);
  }
}