* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif, serif;
  height: 100vh;
  background: linear-gradient(#aac3e2, #e6ebef); }

hr {
  height: 1px;
  background: #afadad;
  border: 0; }

.content-wrapper {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 255px;
  box-shadow: 5px 0px 10px #afadad;
  overflow: auto; }
  @media (max-width: 1075px) {
    .content-wrapper {
      padding: 0; } }

.header {
  height: 30px;
  background: #e7f0f8;
  border-bottom: 1px solid #afadad;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header h3 {
    font-weight: 200; }
  .header__button {
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    left: 2px;
    font-size: 25px;
    border: 0;
    background: initial;
    color: #397cb3;
    cursor: pointer; }
    .header__button::after {
      position: absolute;
      top: 1px;
      left: 7px;
      display: block;
      content: "\2261"; }
  @media (max-width: 1075px) {
    .header {
      width: 100%; }
      .header__button {
        display: block; } }

.order-list {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 255px;
  background-color: #FFFFFF;
  box-shadow: -5px 0px 10px #afadad; }
  .order-list__header {
    height: 55px;
    border-bottom: 1px solid #afadad;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .order-list__form {
    position: relative; }
  .order-list__button-search, .order-list__button-refresh {
    position: absolute;
    top: 0;
    height: 100%;
    width: 20px;
    cursor: pointer; }
  .order-list__button-search {
    right: 40px;
    background: url("../../img/search.png") center center no-repeat no-repeat;
    background-size: 75%; }
  .order-list__button-refresh {
    right: 15px;
    background: url("../../img/refresh.png") center center no-repeat no-repeat;
    background-size: 75%; }
  .order-list__input-search {
    padding-left: 10px;
    border: 1px solid #afadad; }
    .order-list__input-search:hover {
      border: 1px solid #397cb3; }
  .order-list__header-row {
    display: flex;
    justify-content: center;
    position: relative; }
  .order-list__button-back {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 25px;
    border: 0;
    background: url("../../img/left-arrow.png") center center no-repeat no-repeat;
    background-size: 75%;
    cursor: pointer; }
  .order-list__input-search {
    height: 25px;
    width: 95%;
    margin-left: 2.5%; }
  .order-list__main {
    height: calc(100vh - 85px);
    width: 100%;
    border-right: 1px solid #FFFFFF;
    overflow: auto;
    display: flex;
    flex-direction: column; }
  .order-list__item {
    min-height: 95px;
    padding: 0 10px;
    border-bottom: 1px solid #afadad;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .order-list__item:hover {
      background-color: #e3e5e7; }
  .order-list__item--selected {
    background-color: #e7f0f8; }
  .order-list__item-row {
    display: flex;
    justify-content: space-between; }
  .order-list__item-ordered-date {
    font-size: 15px; }
  .order-list__item-order {
    font-size: 17px; }
  .order-list__item-customer, .order-list__item-shipped {
    font-size: 12px;
    color: #5d5b5b; }
  .order-list__item-order, .order-list__item-order-time, .order-list__item-customer, .order-list__item-shipped {
    font-weight: 300; }
  .order-list__item-order-time--in-time {
    color: #06cb20; }
  .order-list__item-order-time--urgent {
    color: #f1a516; }
  .order-list__item-order-time--too-late {
    color: #f5471c; }
  .order-list__footer {
    height: 30px;
    background: #2f3b47;
    border-right: 1px solid #FFFFFF;
    display: flex;
    justify-content: flex-end; }
  .order-list__footer-button-filter {
    width: 30px;
    height: 30px;
    background: url("../../img/filter.png") center center no-repeat no-repeat;
    background-size: 50%;
    cursor: pointer; }
  .order-list__footer-button-sort {
    position: relative;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    cursor: pointer; }
    .order-list__footer-button-sort::before {
      position: absolute;
      content: "[\2261]";
      top: 5px;
      left: 5px;
      font-size: 17px; }
  @media (max-width: 1075px) {
    .order-list {
      transition: transform .5s ease-in;
      transform: translateX(-300px); } }

.order {
  height: calc(100vh - 30px - 30px);
  background: #FFFFFF; }
  .order__main-info {
    height: 30%;
    min-height: 220px;
    padding: 0 20px;
    background: #e7f0f8;
    box-shadow: 0px 2px 5px #afadad;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .order__row {
    display: flex;
    justify-content: space-between; }
  .order__cost {
    text-align: right;
    font-weight: 300; }
    .order__cost span {
      font-size: 15px; }
  .order__main-info-list {
    list-style-type: none; }
  .order__name, .order__customer, .order__ordered, .order__shipped {
    font-weight: 300; }
  .order__customer, .order__ordered, .order__shipped {
    margin-bottom: 5px;
    font-size: 14px;
    color: #5d5b5b; }
  .order__buttons {
    margin-bottom: 10px;
    margin-top: 35px;
    display: flex; }
  .order__button-address, .order__button-processor {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #397cb3;
    cursor: pointer; }
  .order__button-address {
    background: url("../../img/button-address.png") center center no-repeat;
    background-size: 75%; }
  .order__button-processor {
    margin-left: 25px;
    background: url("../../img/button-processor.png") center center no-repeat;
    background-size: 75%; }
  .order__button-address--selected, .order__button-processor--selected {
    background-color: #397cb3;
    position: relative; }
    .order__button-address--selected::before, .order__button-processor--selected::before {
      content: "";
      position: absolute;
      top: 44px;
      height: 3px;
      width: 100%;
      background-color: #397cb3;
      cursor: default; }
  .order__button-address--selected {
    background-image: url("../../img/button-address--selected.png"); }
  .order__button-processor--selected {
    background-image: url("../../img/button-processor--selected.png"); }
  .order__address {
    height: 25%;
    min-height: 175px;
    padding: 0 20px;
    border-bottom: 1px solid #afadad;
    display: flex;
    flex-direction: column; }
    @media (max-width: 580px) {
      .order__address {
        min-height: 325px;
        padding: 0; } }
  .order__address-heading {
    padding: 25px 0 0 10px;
    height: 50px;
    border-bottom: 1px solid #afadad;
    font-weight: 500; }
    @media (max-width: 580px) {
      .order__address-heading {
        padding: 18px 0 0 10px; } }
  .order__address-list {
    margin-top: 15px;
    list-style-type: none;
    margin-left: 10%;
    display: flex; }
    @media (max-width: 580px) {
      .order__address-list {
        display: none; } }
  .order__address-column {
    display: flex;
    flex-direction: column; }
    .order__address-column.column-1 {
      align-items: flex-end;
      margin-right: 10px;
      color: #afadad; }
  .order__address-item {
    font-size: 14px; }
  .order__address-mobile-list {
    display: none;
    list-style-type: none; }
    .order__address-mobile-list li {
      margin: 15px 0 2px 0;
      color: #afadad; }
    @media (max-width: 580px) {
      .order__address-mobile-list {
        display: block;
        margin: 0 20px; } }
  .order__processor {
    display: none; }
  .order__line-items {
    height: 45%;
    min-height: 250px;
    padding: 0 20px;
    background-color: #e7f0f8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    @media (max-width: 580px) {
      .order__line-items {
        min-height: 350px;
        padding: 0; } }
  .order__line-items-heading {
    margin: 25px 0 15px 0;
    font-weight: 500; }
    @media (max-width: 580px) {
      .order__line-items-heading {
        padding-left: 20px; } }
  .order__line-list {
    display: flex;
    flex-direction: column; }
  .order__line-list-row {
    display: flex;
    font-size: 14px;
    list-style-type: none;
    background-color: #FFFFFF; }
    .order__line-list-row .product, .order__line-list-row .unit-price, .order__line-list-row .quantity, .order__line-list-row .total {
      flex: 1;
      min-height: 50px;
      display: flex; }
    .order__line-list-row .product {
      padding-left: 10px;
      font-weight: 700;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start; }
      .order__line-list-row .product span {
        font-weight: 300; }
    .order__line-list-row .unit-price, .order__line-list-row .quantity, .order__line-list-row .total {
      justify-content: flex-end;
      align-items: center; }
    .order__line-list-row .total {
      padding-right: 10px; }
    .order__line-list-row .mobile-info {
      display: none; }
    @media (max-width: 580px) {
      .order__line-list-row {
        flex-direction: column; }
        .order__line-list-row .product, .order__line-list-row .unit-price, .order__line-list-row .quantity, .order__line-list-row .total {
          padding-left: 20px; }
        .order__line-list-row .unit-price, .order__line-list-row .quantity, .order__line-list-row .total {
          display: block;
          min-height: 10px;
          margin-top: 10px; }
        .order__line-list-row .total {
          margin-bottom: 5px; }
        .order__line-list-row .product {
          justify-content: space-around;
          margin-top: 5px; }
        .order__line-list-row .product span {
          margin-top: 5px; }
        .order__line-list-row .mobile-info {
          display: block; } }
  .order__line-list-row--headline {
    padding: 10px 0;
    background-color: #e3e5e7; }
    .order__line-list-row--headline .product {
      font-weight: 300; }
    .order__line-list-row--headline .product, .order__line-list-row--headline .unit-price, .order__line-list-row--headline .quantity, .order__line-list-row--headline .total {
      min-height: initial; }
    @media (max-width: 580px) {
      .order__line-list-row--headline .unit-price, .order__line-list-row--headline .quantity, .order__line-list-row--headline .total {
        display: none; } }
  @media (max-width: 580px) {
    .order {
      height: 100%; } }

footer {
  height: 30px;
  background: #2f3b47;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  footer img {
    margin-right: 20px;
    cursor: pointer; }
