$first-gradient-color: #aac3e2;
$second-gradient-color: #e6ebef;
$primary-gray: #afadad;
$primary-light-gray: #e7f0f8;
$secondary-light-gray: #e3e5e7;
$primary-white: #FFFFFF;
$primary-light-black: #5d5b5b;
$primary-blue: #397cb3;
$primary-orange: #f1a516;
$primary-red: #f5471c;
$primary-green: #06cb20;
$footer-color: #2f3b47;

$order-list-width: 255px;

$header-height: 30px;
$footer-height: 30px;

$tablet-width: 1075px;
$mobile-width: 580px;