.footer {
  height: var(--footer-height);
  background: var(--footer-color);
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

.footer img {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
}