* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, serif;
    height: 100vh;
    background: linear-gradient($first-gradient-color, $second-gradient-color);
}

hr {
    height: 1px;
    background: $primary-gray;
    border: 0;
}